#services {
    margin-top: 7em;
}

.services_item--title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}