:root {
  --swiper-theme-color: rgb(93, 191, 223);
}

body {
  scroll-behavior: smooth;
  scroll-snap-type: y;
  overflow-y: scroll;
  scroll-padding-top: 150px;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
body::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
  /* or add it to the track */
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Add a thumb */
body::-webkit-scrollbar-thumb {
  background: #343a40;
  border-radius: 50px;
  height: .1em;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #343a40;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}


section {
  scroll-snap-align: start;
}

.circle_cornor {
  position: absolute;
  background-color: #F2FAFC;
  padding: 26em;
  top: -13em;
  border-radius: 50%;
  left: -12em;
}

@media (max-width: 768px) and (max-width: 576px) {

  .circle_cornor {
    position: absolute;
    background-color: #F2FAFC;
    padding: 25em;
    top: -15em;
    border-radius: 50%;
    left: -20em;
  }
}