body {
  scroll-behavior: smooth;
  scroll-snap-type: y;
  overflow-y: scroll;
  scroll-padding-top: 150px;
}

section {
  scroll-snap-align: start;
}

.circle_cornor {
  position: absolute;
  background-color: #F2FAFC;
  padding: 26em;
  top: -13em;
  border-radius: 50%;
  left: -12em;
}

@media (max-width: 768px) and (max-width: 576px) {

  .circle_cornor {
    position: absolute;
    background-color: #F2FAFC;
    padding: 25em;
    top: -15em;
    border-radius: 50%;
    left: -20em;
  }
}